body{
    font-family: "CapieN Medium";
}

.header{
    background-color: #caf0ff;
    height: 167px;
    width: 1920px;
}

.header2{
    background-color: #caf0ff;
    height: 1260px;
    width: 1920px;
}

*{
    margin: 0;
    padding: 0;
}

.main{
    background-color:  #ffdbfa;
    height: 250px;
    width: 1920px;
}

.main2{
    background-color:  #ffdbfa;
    height: 1000px;
    width: 1920px;
}

.button1{
    margin: 0 150;
    padding: 0;
}

.button2{
    margin: 0 20;
    padding: 0;
}

.button3{
    margin: 0 100;
    padding: 0;
}

.button4{
    margin: -60;
    padding: 0;
}

.button5{
    margin: 0 95;
    padding: 0;
}

.footer{
    background-color:  #ccc1ff;
    height: 250px;
    width: 1920px;
}
